.table-wrapper {
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            border-radius: 12px;
            border: 1px solid #d0d9f0;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    border-radius: 12 px;
    overflow: hidden;
    min-width: 500px;
}

   @media (max-width: 768px) {
    th, td {
        font-size: 11px;
        padding: 8px 5px;
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 9px;
        padding: 4px 3px;
    }

}
            th, td {
                border: 1px solid white;
                padding: 10px;
                text-align: center;
            }
              th {
            background-color: #1E4FDB;
            color: white;
            font-weight: 600;
        }
          tbody {
            background-color: #D6E4FF;
            color: black;
        }
       
        h2{
            color: #1E4FDB;
        }
        .Planet-1{
            background-color: #D6E4FF;
        }
         .Planet-2{
            background-color: #D6E4FF;
        }
         .Planet-3{
            background-color: #D6E4FF;
            
        }
         .Planet-4{
            background-color: #D6E4FF;
        }
         .Planet-5{
            background-color: #D6E4FF;
        }

            