 table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    padding: 1%;
    border-radius: 70px;
    overflow: hidden;
}

            @media only screen and (max-width: 400px) {
                table {
                    font-size: 14px;
                }
            }
            
            th, td {
                border: 1px solid white;
                padding: 10px;
                text-align: center;
            }
              th {
            background-color: #1E4FDB;
            color: white;
            font-weight: 600;
        }
          tbody {
            background-color: #E8F0FE;
            
        }
       
        h2{
            color: #1E4FDB;
        }
        .Planet-1{
            background-color: #D6E4FF;
        }
         .Planet-2{
            background-color: #D6E4FF;
        }
         .Planet-3{
            background-color: #D6E4FF;
            
        }
         .Planet-4{
            background-color: #D6E4FF;
        }
         .planet-5{
            background-color: #D6E4FF;
        }

            